.album-film{
	background-color: $black-color;
	padding-bottom: 30px;
	&-title{
		text-align: center;
		background-image: url(../img/bg-gradient.png);
		p{
			padding: 15px 0;
			color: $orange-color;
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: 1.3px;
		}
	}
	&-list{
		@include flexgap;
	}
	&-item{
		width: 24%;
		margin: 0 0.5% 10px 0.5%;
		overflow: hidden;
		&:hover{
			img{
				-webkit-transform: scale(1.2);
				-ms-transform: scale(1.2);
				transform: scale(1.2);
				@include transition($delay);
			}
		}
	}
}
@include maxWidth(768px){
	.album-film{
		&-title{
			background-color: none;
		}
		&-item{
			width: 48%;
			margin: 0 1% 10px 1%;
		}
	}
}
