html{
	scroll-behavior: smooth;
}
body{
	max-width: 1500px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 1.4;
	letter-spacing: 1.1px;
	background-color: $bg-color;
}
.container{
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
@include minWidth(1200px){
	.container{
		width: 1170px;
	}
}
.only-mobile{
	display: none;
}
@include maxWidth(576px){
	.container{
		padding: 0 5px;
	}
}
@include maxWidth(1024px){
	.container{
		width: 100% !important;
	}
	.only-mobile{
		display: block;
	}
}
.overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index: 2;
	display: none;
}
.text-lg{
	font-size: 28px;
	line-height: 1;
}
.text-xl{
	font-size: 21px;
}
.text-md{
	font-size: 16px;
}
.text-sm{
	font-size: 11px;
}
@include maxWidth(768px){
	.text-lg{
		font-size: 16px;
		line-height: 1;
	}
	.text-xl{
		font-size: 14.5px;
	}
	.text-md{
		font-size: 13.5px;
	}
}
@include about(769px, 992px){
	.text-lg{
		font-size: 19px;
		line-height: 1;
	}
	.text-xl{
		font-size: 17px;
	}
	.text-md{
		font-size: 15px;
	}
}
@include about(993px, 1024px){
	.text-lg{
		font-size: 23px;
		line-height: 1;
	}
	.text-xl{
		font-size: 20px;
	}
	.text-md{
		font-size: 15px;
	}
}
/*------------scroll custom---------------*/
.scroll{
	&::-webkit-scrollbar {
		width: 3px;
	}
	&::-webkit-scrollbar-track {
		background: $black-color;
	}
	&::-webkit-scrollbar-thumb {
		background: $blue-color;
	}
}
