*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

ul, li{
	list-style: none;
}
a{
	text-decoration: none;
	color: unset;
}
input{
	width: 100%;
}
input, button{
	border: none;
	outline: none;
}
img {
  display: block;
  width: 100%;
}