$bg-color: #182130;
$white-color: #FFF;
$black-color: #000;
$gray-color: #9b9b9b;
$orange-color: #ff6500;
$blue-color: #0285B5;
$line-color: #234;
$bg-opacity: rgba(0,0,0,0.9);
$header-height: 60px;
$delay: 0.4s;
$border-radius: 5px;