$bg-color: #111;
$white-color: #FFF;
$black-color: #000;
$gray-color: #9b9b9b;
$orange-color: #FF6500;
$blue-color: #7aa6ce;
$bg-opacity: rgba(0,0,0,0.7);
$header-height: 55px;
$delay: 0.35s;
$border-radius: 5px;